$toast_mobile_cutoff: 520px !default;
$toast_font_size: 16px !default;
$toast_font_size_mobile: $toast_font_size + 2px !default;
$toast_mobile_style_change: true !default;
// Colors
$toast_success_color: #4CAF50 !default;
$toast_error_color: #F44336 !default;
$toast_warn_color: #FFC107 !default;

// Specs
$snackbar_sl-left-padding: 24px;
$snackbar_sl-vertical-padding: 14px;
$snackbar_background-color: #323232;
$snackbar_border-radius: 2px;
$snackbar_min-width: 288px;
$snackbar_max-width: 568px;
$snackbar_offset-left: 24px;
$snackbar_offset-bottom: 24px;

.toast {
    display: flex;
    position: fixed;
    align-items: center;
    left: $snackbar_offset-left;
    bottom: -80px;
    z-index: 11000;
    font-size: 14px;
    min-width: $snackbar_min-width;
    max-width: $snackbar_max-width;
    background: $snackbar_background-color;
    color: #eee;
    padding: $snackbar_sl-vertical-padding $snackbar_sl-left-padding;
    border-radius: $snackbar_border-radius;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    will-change: transform;
    transition: all 300ms ease-out;
    font-size: $toast_font_size;
    max-width: 15em;

    &.open{
        transform: translateY(-80px - $snackbar_offset-bottom);
    }

    // Colors
    &.success {
        background: $toast_success_color;
    }

    &.error {
        background: $toast_error_color;
    }

    &.warn {
        background: $toast_warn_color;
        color: #000;
    }

    .text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .icon {
        margin: 0 0.25em 0 0;
    }
}

@if($toast_mobile_style_change){
    @media screen and (max-width: $toast_mobile_cutoff) {
        .toast {
            font-size: $toast_font_size_mobile;
            left: 0px;
            border-radius: 0px;
            width: 100vw;
            box-sizing: border-box;
            max-width: none;
            box-shadow: 0 -1px 6px 1px rgba(0, 0, 0, 0.5);

            &.open {
                transform: translateY(-60px);
            }
        }
    }
}
